<a href="https://colab.research.google.com/github/ranixx1/Data_Analisys/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd

In [56]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [55]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,NaN,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,NaN,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,NaN,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,NaN,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,NaN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [58]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [59]:
df.shape

(133349, 11)

In [60]:
linhas, colunas = df.shape[0], df.shape[1]

print(f"Linhas: {linhas} linhas.")
print(f"Colunas: {colunas} colunas.")

Linhas: 133349 linhas.
Colunas: 11 colunas.

In [61]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [62]:
# Dicionário de renomeação
novos_nomes = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
}

# Aplicando renomeação
df.rename(columns=novos_nomes, inplace=True)

# Verificando resultado
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [63]:
df['senioridade'].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [64]:
df["contrato"].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [65]:
df['remoto'].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [66]:
df['tamanho_empresa'].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [71]:
renomear_categorias_senioridade = {
    'senioridade': {
        'MI': 'Pleno',
        'SE': 'Sênior',
        'EN': 'Júnior',
        'EX': 'Executivo'
    },
}

df['senioridade']=df['senioridade'].replace(renomear_categorias_senioridade['senioridade'])
df['senioridade'].value_counts()

senioridade
Sênior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [72]:
renomear_categorias_contrato = {
    'contrato': {
        'FT': 'Tempo Integral',
        'PT': 'Meio-Tempo',
        'FL': 'Híbrido',
        'CT': 'Contrato'
    },
}

df['contrato']=df['contrato'].replace(renomear_categorias_contrato['contrato'])
df['contrato'].value_counts()

contrato
Tempo Integral    132563
Contrato             394
Meio-Tempo           376
Híbrido               16
Name: count, dtype: int64

In [75]:
renomear_categorias_tamanho_empresa= {
    'tamanho_empresa': {
        'S': 'Pequeno',
        'M': 'Médio',
        'L': 'Grande'
    },
}
df['tamanho_empresa'] = df['tamanho_empresa'].replace(renomear_categorias_tamanho_empresa['tamanho_empresa'])
df['tamanho_empresa'].value_counts()

tamanho_empresa
Médio      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [77]:
renomear_categorias_remoto = {
    'remoto': {
        0: 'Presencial',
        50: 'hibrido',
        100: 'Home oficce'
    },
}
df['remoto'] = df['remoto'].replace(renomear_categorias_remoto['remoto'])
df['remoto'].value_counts()

remoto
Presencial     105312
Home oficce     27718
hibrido           319
Name: count, dtype: int64

In [78]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Home oficce,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Home oficce,US,Médio
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Médio

In [79]:
df.describe(include='object')

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Sênior,Tempo Integral,Data Scientist,USD,US,Presencial,US,Médio
freq,77241,132563,17314,126140,119579,105312,119641,129561